<nav>
    <ul class="sidemenu">
        <li onclick=hideSideMenu()> <a href="/"><img src ="/img/closecross.svg" hight="28" width="28"></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/mammals/">Mammals</a></li>
        <li><a href="/birds/">Birds</a></li>
        <li><a href="/reptiles/">Reptiles</a></li>
    </ul>
    <ul>
        <li><a href="/">AnimalZoo</a></li>
        <li class="viewOnDesktop"><a href="/">Home</a></li>
        <li class="viewOnDesktop"><a href="/mammals/">Mammals</a></li>
        <li class="viewOnDesktop"><a href="/birds/">Birds</a></li>
        <li class="viewOnDesktop"><a href="/reptiles/">Reptiles</a></li>
        <li class="menubutton" onclick=showSideMenu()><a href="#"><img src ="/img/burgermenu.svg" hight="28" width="28"></a></li>
    </ul>
</nav> 