.cardContainer {
    background-color: #faebd7;
    border: 1px solid black;
    margin: 16px;
    padding: 16px;
    text-align: center;
}

.cardExternalText {
    font-weight: 700;
}

.cardInnerText {
    font-style: italic;
    font-weight: 400;
}

.cardImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width:768px) {

    .cardContainer {
        max-width: 40%;
    }
}

@media screen and (min-width:768px) {

    .cardContainer {
        max-width: 500px;
    }
}