.cardContainer {
    background-color: #faebd7;
    border: 1px solid black;
    margin: 16px;
    padding: 16px;
    text-align: center;
}

.cardExternalText {
    font-weight: 700;
}

.cardInnerText {
    font-style: italic;
    font-weight: 400;
}

.cardImg {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

    width: 30%;
}
.title {
    background-color: #ffb347 ;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin: auto;
    padding:4px;
    text-align: center;
    width: 60%;
}

.title:hover {
    background-color: black ;
    color: #ffb347;
}

@media screen and (min-width:768px) {

    .cardContainer {
        max-width: 40%;
    }
}

@media screen and (min-width:768px) {

    .cardContainer {
        max-width: 500px;
    }
}