.header {
    background-color: #fffafa;
    border-bottom: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 80px;
}

.hamburgerImg {
    position: absolute;
    right: 20px;
    top: 5px;
}

.header ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    left: 65%;

    width: 20%;
}

.header ul li {
    list-style: none;
    
}

.name {
    font-size: 2.5rem;
    padding: 16px;
    position: relative;
}

.name::after {
    background-image: url('../../assets/images/panda.png');
    background-size: cover;
    background-position: center;
    content: "";
    opacity: 1;
    position: absolute;

    left: 80;
    top: 80;
    
    height: 50%;
    width: 50%;
}

@media screen and (min-width: 768px) {

    .hamburgerImg {
        display: none;
    }

    .header ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        position: relative;
        left: unset;

        width: 50%;
    }
    
    .header ul li {
        list-style: none;
    }
    
}