.header {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 80px;
    border-bottom: 1px solid grey;
   
}
.header ul {
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.header ul li {
    list-style: none;
}