.footer {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid grey;
    justify-content: space-around;
    min-height: 80px;
}


.newsletterContainer {
    display: flex;
}

.newsletterMessage {
    background-color: white;
}

.newsletterArrow {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 16px;
}