.footer {
    background-color:#ffb347   ;
    color: black;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid grey;
    justify-content: space-around;
    
}


.newsletterContainer {
    display: flex;
    flex-wrap: wrap;
}

.newsletterMessage {
    background-color: white;
}

.newsletterArrow {
    background-color: black;
    color: white;
    font-size: 2rem;
    
    padding: 16px;
}