.curriculumContainer {
    background-color: violet;
    flex-grow: 1;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.curriculumHead {
    background-color: aqua;
    display: flex;
}

.curriculumImg {
    border-radius: 50%;
    max-height: 200px;
}

.textHead {
    font-style: italic;
}

.innerText {
    font-weight: 400;
    font-style: italic;
}

@media screen and (min-width:768px) {
    
    .curriculumImg {
        border-radius: 50%;
        max-height: none;
    }
    
    .textHead {
        padding: 8px;
    }
    .textMain {
        display: flex;
    }

    .leftOrTopText {
        width: 40%;
    }
    .rightOrBelowText {
        flex-grow: 1;
    }
}