.columnText {
    align-content: center;
    background-color:#faebd7;
    min-width: 40%;
}

.mainText {
    line-height: 2;
}

.titleHead {
    background-color: #51c9c9;
    border: 1px solid black;
    border-radius: 20px;
    margin:4px;
    padding: 4px;
}

h1 {
    margin: 0;
}

.innerText {
    display: none;
    font-size: 1.5rem;
    
}

.buttonContainer {
    align-items: center;
    display:flex;
    flex-direction: column;
    
}

.hireMeBtn {
    background-color: #ffb347 ;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Rubik";
    font-size: 1.5rem;
    margin-bottom: 8px;
    padding: 16px;
}

.hireMeBtn:hover {
    background-color: black ;
    color: #ffb347;
    
}

@media screen  and (min-width: 768px) {

    .mainText {
        padding:10px;
    }
    
    .innerText {
        display: block;
        font-size: 1.5rem;
    }

    h1 {
        margin: 22px;
    }
}