.columnText {
    background-color:#faebd7  ;
    min-width: 40%;
    align-content: center;
}

.mainText {
    padding: 16px;
    line-height: 2;
}
.titleHead {
    background-color: #51c9c9 ;
    border: 1px solid black;
    border-radius: 20px;
    padding: 4px;
    margin:4px;
    
}

.innerText {
    font-size: 1.5rem;
}
.buttonContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.hireMeBtn {
    background-color: #ffb347 ;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Rubik";
    font-size: 1.5rem;
    padding: 16px;
    margin-bottom: 8px;
}

.hireMeBtn:hover {
    background-color: black ;
    color: #ffb347;
    
}