* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    margin:0;
}

#root {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    font-family: "Rubik";
    min-height: 100%;
}